<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-fluid">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Recipe name</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
   <div class="btn-group">
     <button class="dropdown-toggle btn btn-primary" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       Manage recipe
     </button>
     <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
       <li><a href="#">To shopping list</a></li>
       <li><a href="#">Edit Recipe</a></li>
       <li><a href="#">Delete Recipe</a></li>
     </ul>
<!--     <button-->
<!--       type="button"-->
<!--       class="btn btn-primary dropdown-toggle">-->
<!--       Manage recipe-->
<!--     </button>-->
   </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Description
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Ingrediens
  </div>
</div>
